<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutomaticEmails.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutomaticEmails.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AutomaticEmails.Settings>
      <setting name="IPAddress" serializeAs="String">
        <value>project.benking.co.nz</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>library</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password123</value>
      </setting>
      <setting name="ReminderPeriod" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="BlockedPeriod" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="VitualNo" serializeAs="String">
        <value>######</value>
      </setting>
      <setting name="CellUsername" serializeAs="String">
        <value>######</value>
      </setting>
      <setting name="CellPassword" serializeAs="String">
        <value>######</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>######</value>
      </setting>
      <setting name="SMTPEmail" serializeAs="String">
        <value>######</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value>######</value>
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>0</value>
      </setting>
    </AutomaticEmails.Settings>
    <AutomaticEmails.Settings1>
      <setting name="IPAddress" serializeAs="String">
        <value>project.benking.co.nz</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>library</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password123</value>
      </setting>
      <setting name="VituralNo" serializeAs="String">
        <value>+12058802599</value>
      </setting>
      <setting name="CellUsername" serializeAs="String">
        <value>AC7224fd6dcad12f5bb753f0fc90184512</value>
      </setting>
      <setting name="CellPassword" serializeAs="String">
        <value>75e9f1addd1a94b64a0f041e6382fbae</value>
      </setting>
    </AutomaticEmails.Settings1>
  </userSettings>
</configuration>